**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
.terraformrc
terraform.rc
/anthos_ssh_priv_key
/anthos/gcp_keys/*
/ksa_token.txt
