hostconfig:
  dns: "172.16.3.1"
  tod: "129.6.15.28"
blocks:
- netmask: 255.255.255.0
  gateway: 172.16.3.1
  ips:
  - ip: 172.16.3.13
    hostname: admin-lb-1
  - ip: 172.16.3.14
    hostname: admin-lb-2
